body{
    background-color: #DDA0DD; 
    background-image: url(https://habrastorage.org/getpro/habr/post_images/4a9/080/037/4a9080037cc613a7ad8c369b00d47d79.gif);
}
p{
   font-size: 1in;
   background-image: url(https://img.freepik.com/free-vector/colorful-watercolor-rainbow-background_125540-151.jpg);
background-size: cover;
color: whitesmoke;
text-align: center;
}
@media only screen and (max-width:800px){
  nav,main,aside, .overlay{
    width: 100%;
  }
}